<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.micha.puzzle">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Core"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Settings"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Game"
            android:parentActivityName=".Core"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Core" />
        </activity>
        <activity
            android:name=".GameFinished"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name=".RankingTable"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ChooseImage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ChooseSource"
            android:screenOrientation="portrait" />
        <activity android:name=".LookUp"></activity>
    </application>

</manifest>